<% if logged_in? %>
  <h1> All my Groups </h1>
  <% @groups.each do |group| %>
    <%= image_tag  group.icon ,style: 'width: 40px; height: 40px;'%>
    <%= group.name%>
    <%= group.user.username%>
     <a href="/groups/<%= group.id %>">Add Group Project</a>
  <% end %>
  <br>
  <%= link_to 'Add new group', new_group_path %>
    
 

<% else %>
<%= link_to 'Sign in',  new_session_path %>
<%= link_to 'Sign Up',  new_user_path %>
 <% end %>