<h3 class= "text-white-light d-flex justify-content-center"> Project: <%= @group.name%> </h3>
<div class= "row  d-flex align-items-center  bg-primary text-light ">
<% @projects.each do |project| %>
  <li><%= project.name %> </li>
<% end%>

<%= form_with model: [ @group, @group.projects.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :amount %><br>
    <%= form.number_field :amount %>
  </p>
    <%= form.submit %>
<% end %>