<% if logged_in? %>
 <h3 class= "text-white-light d-flex justify-content-center"> My Projects </h3>
<%   @projects.each do |project| %>
<% if project.groups.length == 0 %>
  <div class= "row bg-white mt-1 ">
   <% project.groups.each  do |g| %>
   <% if g.icon.attached? %>
   <%= image_tag g.icon ,class: 'float-md-start me-4' ,style: 'width: 60px; height: 60px;'%>
   <% end %>
   <% end %>
   <div class= "col-7 text-dark ">
   <% if !project.author.blank? %>
   <p class= "d-flex justify-content-between text-end align-items-center mt-2">
    <%= project.name%>
      took 
    <%= project.amount%>Hrs 
     </p>
      <small class= "d-flex align-item-center mb-2">created by: <%= project.author.username%></small>
   </div>
   </div>
  <% end %>
<% end %>
<% end %>

 <%= link_to 'Add new group', new_group_path,class: " d-flex justify-content-center col-8 bg-primary text-light" %>
<% else %>
<div class="row d-flex align-items-center justify-content-around bg-light " style="height:250px;">
<%= link_to 'Sign in',  new_session_path , class: ' col-7 p-2  btn btn-primary border-bottom'%>
<%= link_to 'Sign Up',  new_user_path ,class: ' col-6 p-2 btn btn-primary mt-n10 ' %>
</div>
 <% end %>