<% if logged_in? %>
  <h1> All my Projects </h1>
  <% @projects.each do |project| %>
    <%= project.name%>
    <%= project.amount%>
    <%= project.author_id%>
  <% end %>
  <br>
  <%= link_to 'Add new Project', new_project_path %>
<% else %>
<%= link_to 'Sign in',  new_session_path %>
<%= link_to 'Sign Up',  new_user_path %>
 <% end %>

 <%= link_to  groups_path %>
<br>
<%= render 'helper/icon' %>
<%= render 'helper/icon1' %>
<%= render 'helper/icon2' %>
<%= render 'helper/icon3' %>
<%= render 'helper/icon4' %>