<% if logged_in? %>
  <h1> All my Projects </h1>
  <% @projects.each do |project| %>
   <% if !project.user.blank? %>
    <%= project.name%>
    <%= project.amount%>
    <%= project.user.username%>
  <% end %>
  <% end %>
  <br>
  <%= link_to 'Add new Project', new_project_path %>
<% else %>
<%= link_to 'Sign in',  new_session_path %>
<%= link_to 'Sign Up',  new_user_path %>
 <% end %>

 <%= link_to  groups_path %>
<br>
