<div class="row justify-content-center h-100">
  <h2>Add a comment:</h2>
  <div class="col-12 col-lg-7 mt-lg-5">
    <div class="card p-3"> 
      <%= form_with model: [ @project, @project.reviews.build ] do |form| %>   
        <div class="form-group">
             <%= form.label :commenter %><br>
             <%= form.text_field :commenter %> 
        </div>
        
        <div class="form-group">
             <%= form.label :body %><br>
             <%= form.text_area :body %>
        </div>
        <div class="actions">
                <%= form.submit "Submit", class: "btn btn-kg btn-primary" %>
         </div>
        <% end %>
    </div>
  </div>
</div>